

body {
  background-color: #937171 !important;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.keys {
  display: flex;
  list-style: none;
}

.key-btn {
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  height: 2.5em;
  font-size: 1em;
  width: 50%;
  margin: 0.3em;
  background-color: #f2f2f2;
  border-radius: 0.5em;
  line-height: 2.5em;
  letter-spacing: 1px;
  text-align: center;
  cursor: default;
}
#red {
  background-color: #a3f7bf;
  width: 70%;
}

#blue {
  background-color: #9aebed;
  width: 80%;
}

#rebeca {
  background-color: #fecd1a;
  width: 90%;
}

#green {
  background-color: #fa86be;
  width: 80%;
}

#up {
  background-color: #8594e4;
  width: 90%;
}

#yellow {
  background-color: #fffcab;
  width: 70%;
}

#grey {
  background-color: #fd3a69;
  width: 50%;
}

#one {
  background-color: #faafff;
  width: 5em;
}

/* #two {
  width: 100%;
} */

.key-btn {
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
      0px 4px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

 .key-btn:focus {
    transform: translateY(2px);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    outline: none; 
  }








 
  @media (max-width: 768px) {
    .lg-hide{
      display: none;
    }
   
  }
  @media (min-width: 768px) {
    .mobile-btn{
      display: none;
    }
  }



  